# Ignore Python compiled files (keeps your git history clean)
__pycache__/
*.py[cod]
*$py.class

# Ignore PyInstaller build outputs and executables
build/
dist/
*.spec
*.zip
# Ignore Pygbag artifacts
.pygbag/
*.apk
*.tar.gz

# Ignore local virtual environments (prevents system conflicts)
venv/
ENV/
env/

# Ignore operating system junk files
.DS_Store
Thumbs.db

# Ignore local environment variables / secrets
.env